In [58]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('wine_data.sqlite')
c = conn.cursor()

df = pd.read_sql("select country, variety, price, rating from wine_data" , conn)

row_count = pd.read_sql("select count(*) as rows from wine_data", conn)
percent = pd.read_sql("select count(variety) counts, variety from wine_data group by variety", conn)

In [50]:
top_df = pd.read_sql("select variety, count(variety) as counts, avg(price) as avgPrice, avg(rating) as avgRating from wine_data group by variety order by counts desc limit 8", conn)

In [51]:
least_df = pd.read_sql("select variety, count(variety) as counts, avg(price) as avgPrice, avg(rating) as avgRating from wine_data group by variety order by counts asc limit 8", conn)

In [52]:
top_df.round(2)

                    variety  counts  avgPrice  avgRating
0                Pinot Noir   11832     47.88      89.43
1                Chardonnay   10234     34.71      88.28
2        Cabernet Sauvignon    8758     48.26      88.62
3                 Red Blend    7796     36.10      88.37
4  Bordeaux-style Red Blend    4958     48.05      88.81
5                  Riesling    4571     32.61      89.47
6           Sauvignon Blanc    4399     20.17      87.36
7                     Syrah    3776     39.05      89.31

In [53]:
row_count['rows'][0]

100228

In [67]:
percent['contribution'] =  percent['counts'] / row_count['rows'][0] * 100
percent['remainder'] = 100 - percent['contribution']
percent.head()

   counts                     variety  contribution  remainder
0     274                   Aglianico      0.273377  99.726623
1     432                    Albariño      0.431017  99.568983
2     545                     Barbera      0.543760  99.456240
3    4958    Bordeaux-style Red Blend      4.946721  95.053279
4     635  Bordeaux-style White Blend      0.633555  99.366445

In [70]:
var = 'Chardonnay'
percent2 = percent.loc[percent['variety'] == var]

In [71]:
percent2

   counts     variety  contribution  remainder
9   10234  Chardonnay      10.21072   89.78928

In [62]:
percent['contribution'][0]

0.27337670112144313